body {
  padding: 0;
  margin: 0;
  background-color: rgb(218, 185, 224);
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  padding: 10px;
  text-align: center;
}

h6 {
  text-align: center;
}

input {
  text-align: center;
}

select {
  text-align: center;
}
header{
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}
main{
  width: 50%;
  background-color: lightgray;
  color: black;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
